<launch>
    <!-- This launches a tf (pose) of the joystick in rviz -->
    <node name="imu_publisher" pkg="data_to_pose" type="imudata.py" output="screen"/>
    <node name="data_to_pose_node" pkg="data_to_pose" type="data_to_pose_rviz.py" output="screen"/>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="57600"/>
    </node>
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find data_to_pose)/rviz/joy_config.rviz" required="true"/>
</launch>