<launch>
    <node name="imu_publisher" pkg="data_to_pose" type="imudata.py" output="screen"/>
    <node name="data_to_pose_node" pkg="data_to_pose" type="data_to_pose_node" output="screen"/>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="57600"/>
    </node>
</launch>